# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Set files as text even when there are special characters
*.html diff
*.pot diff

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary


