[push]
	default = current

[pull]
	ff = yes

[branch]
	autoSetupRebase = local

[branch "prod"]
	mergeOptions = --ff-only --no-commit

[branch "qa"]
	mergeOptions = --ff-only --no-commit

[url "https://"]
	insteadOf = git://

